
@import url('http://fonts.cdnfonts.com/css/gotham');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.login-btn {
    display: block;
    text-decoration: none;
    width: 120px;
    height: 40px;
    background: #1ED760;
    margin: 30px;
    padding: 10px;
    text-align: center;
    border-radius: 500px;
    font-family: 'Gotham',sans-serif;
    font-size:17px;
    font-weight: 700;
    color: #202124;
    line-height: 20px;
}

.generate-btn {
    display: block;
    text-decoration: none;
    width: 120px;
    height: 40px;
    background: #1ED760;
    margin: 30px;
    padding: 10px;
    text-align: center;
    border-radius: 500px;
    font-family: 'Gotham',sans-serif;
    font-size:17px;
    font-weight: 700;
    color: #202124;
    line-height: 20px;
}

.playlist-preview {
    border-radius:12px;
}



.quiz-page {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Gotham',sans-serif;
    background-color: #80b196;
}

.quiz-container {
    width: min(65vw,500px);
    display:flex;
    flex-direction: column;
    padding: 50px;
    border: 5px solid #1ED760;
    border-radius: 50px;
    background-color: #304142;
    color:white;
}

.question {
    font-size: min(6vw,30px);

}

.answer-section {
    height:50vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px 20px;
}

.answer {
    padding:10px;
    border-radius:15px;
    font-size: min(4vw,25px);
    border: 3px solid #1ED760;
    background-color: #304142;
    color:white;
    transition: .5s;

}

.answer:hover {
    background-color: #4d8a8d;
    color:#202124;
}

